<hr>
<div class="">shopping list</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <form>
           <div class="row">
               <div class="col-sm-5 form-group">
                   <label for="name">Name</label>
                   <input type="text" id="name" class="form-control">
               </div>
               <div class="col-sm-2 form-group">
                    <label for="amount">amount</label>
                    <input type="text" id="amount" class="form-control">
               </div>
           </div>
          <button class="btn btn-success " type="submit">Add</button>
          <button class="btn btn-danger ml-4" type="button">delete</button>
          <button class="btn btn-danger ml-4" type="button">Clear</button>
        </form>
    </div>
</div>
